doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://code.jquery.com/jquery-3.1.0.min.js")
  body
    div(class="main container")
      h2(class="title") Applications & Rules
      block content
